<!DOCTYPE html>  
<html>  
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head", false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Styles/root.css" rel="stylesheet" />
</head>  
<body>  


<br />  
@RenderBody()  
<br />  


</body>  
</html>